@using StoackApp.Core.Application.ViewModels.Products
@model List<ProductViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        @foreach (ProductViewModel item in Model)
                        {
                            <div class="col-4 mb-3">
                                <div class="card">
                                    <img src="@item.ImagePath" class="img-product-size bd-placeholder-img card-img-top " />

                                    <div class="card-body">
                                        <h3>@item.Name</h3>
                                        <p class="card-text">@item.Description</p>
                                        <div>
                                            <small class="fw-bold">$@item.Price</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
