@using StoackApp.Core.Application.ViewModels.Products
@model SaveProductViewModel
@{
    bool editMode = Model.Id == 0 ? true : false;
    ViewData["Title"] = "Guardar producto";
}

<div class="row">
    <div class="col-6 offset-3">
        <div class="card">
            <div class="card-header bg-dark text-light">
                <h4>@(editMode ? "Creando un nuevo producto" : $"Editando el producto: {Model.Name}")</h4>
            </div>
            <div class="card-body">
                <form method="post" asp-controller="Product" asp-action="@(editMode ? "Create" : "Edit")">

                    <div class="mb-3">
                        <label asp-for="Name" class="form-label">Nombre: </label>
                        <input type="text" asp-for="Name" class="form-control">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Description" class="form-label">Descripcion: </label>
                        <textarea asp-for="Description" class="form-control"></textarea>
                    </div>
                    <div class="mb-3">
                        <label asp-for="ImagePath" class="form-label">Url de la imagen: </label>
                        <input type="text" asp-for="ImagePath" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label asp-for="Price" class="form-label">Precio: </label>
                        <input type="number" step="any" asp-for="Price" class="form-control">
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="CategoryId" class="form-label">Categoria: </label>
                        <select asp-for="CategoryId" asp-items="@(new SelectList(Model.Categories, "Id","Name"))" class="form-select">
                            <option>Seleccione una opcion</option>
                        </select>
                        <span asp-validation-for="CategoryId" class="text-danger"></span>
                    </div>

                    <input type="hidden" asp-for="Id" />

                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <a asp-controller="Product" asp-action="Index" class="btn btn-warning">Volver atras</a>
                </form>
            </div>
        </div>
    </div>
</div>

